@{
    ViewData["Title"] = "Home Page";
}




    <div class="log">
        <form action="/home/validate">
            
            <div><label for="email">Email</label></div>
            <input type="email" name="email" id="email"><br>
            <div><label for="pass">Password</label></div>
            <input type="password" name="password" id="password"><br>
            <button type="submit" name="btn" id="btn" class="btn btn-primary" >Login</button>
        
        </form>
        </div>
    



    



